// Colors
$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

// Breakpoints
$breakpoint-up-1: 600px;
$breakpoint-up-2: 1024px;

// Layout
$padding-mobile: 8%; // left & right padding; 30px for 375px
$padding-tablet: 12%;